Repository dacrab/perfly, changes with the labels that .github/labeler.yml gives for each.
All labels: area: db, area: frontend, area: api, area: auth, area: ai, area: config, area: docs, area: ci, dependencies

.github/labeler.yml:

"area: db":
  - "src/db/**/*"
  - "drizzle.config.ts"

"area: frontend":
  - "src/components/**/*"
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/globals.css"

"area: api":
  - "src/app/api/**/*"

"area: auth":
  - "src/lib/auth*.ts"
  - "src/app/auth/**/*"
  - "src/app/api/auth/**/*"

"area: ai":
  - "src/ai/**/*"
  - "src/app/api/ai/**/*"

"area: config":
  - "*.config.*"
  - "package.json"
  - "bun.lock"
  - ".env*"
  - "tsconfig.json"

"area: docs":
  - "**/*.md"
  - "docs/**/*"

"area: ci":
  - ".github/**/*"

"dependencies":
  - "package.json"
  - "bun.lock"

ci: fix cache key inputs and restore-keys; use bun.lock
  .github/workflows/ci.yml
Labels: area: ci

chore: migrate to PageSpeed Insights; remove Gemini; adopt Ultracite/Biome; add Dependabot; fix strict TS; update preview workflow
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .prettierignore
  .prettierrc.js
  GEMINI.md
  README.md
  WARP.md
  biome.json
  bun.lock
  docs/DEPLOYMENT_SETUP.md
  docs/PROJECT_OVERVIEW.md
  docs/README.md
  drizzle.config.ts
  eslint.config.mjs
  next.config.ts
  package.json
  postcss.config.mjs
  renovate.json
  src/ai/index.ts
  src/app/about/page.tsx
  src/app/api/ai/analyze/route.ts
  src/app/api/tests/run/route.ts
  src/components/ui/dropdown-menu.tsx
  src/db/index.ts
  src/db/schema.ts
  src/lib/auth.ts
  src/lib/email.ts
  src/lib/logger.ts
  src/lib/pagespeed.ts
  src/lib/queue.ts
  src/lib/webpagetest.ts
  tailwind.config.ts
  tsconfig.json
Labels: area: db, area: frontend, area: api, area: auth, area: ai, area: config, area: docs, area: ci, dependencies

chore(deps): refresh bun.lock after dependency changes
  bun.lock
Labels: area: config, dependencies

ci: gate preview and labeler workflows when secrets/config missing
  .github/workflows/labeler.yml
  .github/workflows/preview.yml
Labels: area: ci

chore(deps): refresh bun.lock after dependency changes (#15)
  .github/workflows/labeler.yml
  .github/workflows/preview.yml
  bun.lock
Labels: area: config, area: ci, dependencies

ci(preview): remove unsupported expressions and inputs; gate steps via env
  .github/workflows/preview.yml
Labels: area: ci

ci: fix preview.yml lints; run format before lint
  .github/workflows/ci.yml
  .github/workflows/preview.yml
Labels: area: ci

dev: add dotenv for drizzle config typecheck
  bun.lock
  package.json
Labels: area: config, dependencies

chore(npm-scripts): simplify scripts; add 'check', remove duplicates
  package.json
Labels: area: config, dependencies

chore(npm-scripts): make 'lint' run typecheck + lint; remove 'check'
  package.json
Labels: area: config, dependencies

chore(npm-scripts): removed redundant 'biome' scripts
  package.json
Labels: area: config, dependencies

ci: dedupe steps; use single 'bun run lint' for quality checks
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: area: ci

deps: align react and react-dom to 19.1.1 (fix version mismatch)
  bun.lock
  package.json
Labels: area: config, dependencies

docs: sync scripts with package.json (use lint + format)
  README.md
  docs/PROJECT_OVERVIEW.md
  docs/README.md
Labels: area: docs

chore(biome): consolidate includes array in biome.json
  biome.json
Labels: none

ci: add dummy DATABASE_URL for build-time to prevent Next.js errors
  .github/workflows/ci.yml
Labels: area: ci

ci: expose AUTH_SECRET and RESEND_API_KEY during build to avoid SSR eval failures
  .github/workflows/ci.yml
Labels: area: ci

ci: update workflow to use listWorkflowRunsForRepo for improved clarity
  .github/workflows/maintenance.yml
Labels: area: ci

implemented 'bun-update' workflow
  .github/dependabot.yml
  .github/workflows/bun-update.yml
  bun.lock
  package.json
Labels: area: config, area: ci, dependencies

workflow refactors
  .github/actions/ci-pipeline/action.yml
  .github/actions/deploy/action.yml
  .github/actions/maintenance/action.yml
  .github/actions/security-audit/action.yml
  .github/actions/setup-bun/action.yml
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/dependency-review-config.yml
  .github/workflows/bun-update.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .github/workflows/preview.yml
Labels: area: ci

might fixed the workflos
  biome.json
  bun.lock
  package.json
Labels: area: config, dependencies
